/* --------------------------------------------------------------------------------------------------- */

.Volvo-car-comparison {
    padding: 10px ;
    background-color: #f8edeb;
    margin: 90px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.Volvo-car-comparison p{
  font-size: 20px;
  line-height: 1.5;
  font-weight: lighter;
}

.Volvo-car-comparison span{
  color: #212529;
  font-weight: 100;
  display: block;
  margin-top: 10px;
}

.Volvo-car-comparison strong{
  font-size: 45px;
  font-weight: 550;
  color: #000;
}

/* -------------------------------------------------------------------------------------------------------- */

.car-grid {
  margin-top: -60px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  flex-wrap: wrap;
  background-color: #f8edeb;
  justify-content: space-evenly;
}

.car-column {
  background: #fffcf2;
  border: 3px solid #ddd;
  border-radius: 8px;
  padding: 60px;
  width: 350px;
}

.car-column h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.car-card {
  display: flex;
  /* justify-content: space-between; */
  justify-content: left;
  align-items: center;
  background: #e9ecef;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.car-info p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.car-info h3 {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: 700;
}

.car-info h3 span {
  font-weight: 600;
}

.car-card img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------- */

.car-grid2 {
  margin-top: -60px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  flex-wrap: wrap;
  background-color: #f8edeb;
  justify-content: space-evenly;
}

/* -------------------------------------------------------------------------------------------------- */

.car-grid3 {
  margin-top: -60px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  flex-wrap: wrap;
  background-color: #f8edeb;
  justify-content: space-evenly;
}

/* ----------------------------------------------------------------------------------------------- */


body {
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Slider Container */
.slider-container {
  padding: 20px;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider */
.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Individual Slide */
.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Car Image */
.slide img {
  max-width: 90%;
  max-height: 80%;
  object-fit: contain;
  z-index: 1;
}

/* Overlay Box (Top-Left) */
.overlay {
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  padding: 10px 55px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

/* Car Name */
.overlay h3 {
  margin: 4px 0 6px;
  font-size: 36px;
  font-weight: 600;
}
/* Price Tag */
.price-tag {
  font-size: 25px;
  font-weight:400;
  margin-bottom: 6px;
}

.overlay button{
  border-radius: 5px;
  font-size: large;
  font-weight: 520;
  background-color: #e9ecef;
  border: 2px solid #fffcf2;
  cursor: pointer;
} 

/* ------------------------------------------------------------------------------------------------------- */

.Black-Blank{
  padding: 20px;
  background-color: #000;
}

.power-train {
  padding: 10px;
  background-color: #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
}

/* ----------------------------------------------------------------------------------------------------- */

.spec-comparison {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 40px 20px;
  overflow-x: auto;
  font-family: Arial, sans-serif;
}

.spec-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 200px;
}

.spec-item {
  text-align: center;
}

.label {
  color: #666;
  font-size: 22px;
  margin-bottom: 5px;
}

.value {
  font-weight: 550;
  font-size: 20px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------------------------------------------------------------------------------------- */

.size-and-cargo {
  padding: 10px;
  background-color: #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
}

/* ------------------------------------------------------------------------------------------------ */

.site-footer {
  background-color: #ffffff;
  text-align: center;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.footer-top a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  font-size: x-large;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin: 30px 0;
  justify-content: space-evenly;
}

.footer-col h3 {
  font-size: 16px;
  color: #666;
  margin-bottom: 25px;
  letter-spacing: 1px;
  display: flex;
  justify-content: left;
  align-items: flex-start;

}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin: 15px 0;
}

.footer-col ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  justify-content: left;
  align-items: flex-start;
  display: flex;
}

.footer-location {
  margin: 20px 0;
  font-size: 15px;
}

.footer-location i {
  margin-right: 6px;
}

.footer-social {
  margin: 20px 0;
}

.footer-social a {
  margin: 0 10px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.footer-bottom {
  font-size: 12px;
  color: #666;
  margin-top: 30px;
}

.footer-bottom a {
  color: #666;
  text-decoration: none;
  margin: 0 8px;
}

.footer-top i{
  margin-left: 5px;
  font-size: 20px;
  color: #000;

}